<td>{{user.firstname}}</td>
<td>{{user.lastname}}</td>
<td>{{user.email}}</td>
<td>{{user.phonenumber}}</td>
<td>{{user.region}}</td>
<td class="buttons">
  <div class="row">
    <div class="col-sm-7">
      <button class="btn btn-primary btn-sm" (click)="updateUser()">
        <fa name="pencil"></fa>
      </button>
    </div>
    <div class="col-sm-5">
      <button class="btn btn-danger btn-sm" (click)="deleteUser()">
        <fa name="trash-o"></fa>
      </button>
    </div>
  </div>
</td>
